/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-cont {
    width: 100%;
    padding: 10px;
}

.headersub-cont{
    width: 100%;
    border-top: 3px solid #FDF2D0;
    background-color: #FDFBF1;
    color: #107777;
    padding: 13px;
}

.logo {
    height: 60px;
}

.text-center{
    text-align: center;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.article-cont{
    padding: 30px;
}

.col-50{
    width: 50%;
}

.title-art{
    font-size: 41px;
    font-family: "Prata", serif;
    font-style: normal;
}

.sub-title{
    font-size: 20px;
    font-family: "Prata", serif;
    font-style: normal;
    color: #6C6C6C;
}

.ingredients-title{
    font-size: 17px;
    color: #6C6C6C;
}

.ingredients-list{
    margin-top: 30px;
}

.p-font{
    font-size: 17px;
    font-family: "Prata", serif;
    font-style: normal;
}

.li-font{
    font-size: 15px;
    font-family: "Prata", serif;
    font-style: normal;
}

.p-15{
    padding: 15px;
}

.p-l15{
    padding-left: 30px;
}

.m-t-b{
    margin-top: 40px;
    margin-bottom: 15px;
}

.m-t{
    margin-top: 15px;
}

.image-size{
    width: 100%;
    border-radius: 2%;
}

.img-author{
    color: grey;
}

.suggestion{
    border-left: 3px solid #FDF2D0;
    padding-left: 15px;
}

.feat-color{
    color: #D79A7D;
}

.link-color{
    color: #80B6B6;
}


.footer-cont{
    width: 100%;
}